html, body {
  background: #fff;
  font-family: 'helvetica neue', 'helvetica', sans-serif;
  font-weight: 100;
  height: 100%;
  letter-spacing: 0.04rem;
  line-height: 1.4em;
  margin: 0;
  width: 100%;
}

h1, h2, h3, h4 { color: #555; font-weight: 100; }
p { color: #333; }
b { font-weight: 300; }

.main {
  width: 720px; margin: 0 auto;
}
